* {
    box-sizing: border-box;
}
body {
  
    font-family: 'Arial', Helvetica, sans-serif;
    color: #777777;
    border-color: #c03030;
    background-image: url(../images/beige-tiles.png);
    background-repeat: repeat-y repeat-x;
    font-size: 18px;
    line-height: 150%;
    
   
  }
  header {
      background-color: #ffff;
      margin-bottom: 40px;
     
  }

  h2 {
    color: #4aaaa5;
    font-size: 24px;
  }

.name {
    color: white;
    background-color: #4aaaa5;
    line-height: 50px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font: helvetica;
    
}


.background {
  width: 960px;
  background-color: #ffffff;
  padding-top: 10px;
  border-color: 2px solid #777777;
}

#main-bio {
   width: 900px;
   margin: 20px;
   border-color: 1px solid tan;
   background-color: #ffffff;
}



.container {

  margin: 0 auto;
  width: 960px;
}

#bio-image {
    height: 200px;
    width: 150px;
    margin: 20px;
    float: left;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;
}

li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #dddd;
}
.footer {
    background-color: grey;
    border-top: 4px solid #4aaaa5;
    Height: 60px;
    color: white;
    text-align: center;
    text-align: bottom;
    margin-top: 20px;
}

#tien, #email {
    border: 1px solid #dddd;
}

#message {
    border: 1px solid #dddd;
    height: 300px;
}


#a, #b, #c, #d, #e, #f, #g {
    width: 200px;
    height: 150px;
    margin: 20px;
}


.clearfix{
  clear: both;
}
  


.submit {
    color: white;
    background-color: #4aaaa5;
    width: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.absolute {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2db34a;
  margin-left: 23px;
  margin-top: 100px;
  text-align: center;
  color: black;

}