* {
    box-sizing: border-box;
}
body {
  
    font-family: 'Arial', Helvetica, serif;
    color: #777777;
    
    background: url(../images/beige-tiles.png);
    font-size: 18px;
    line-height: 150%;
    margin: 0;

  }
  header {
      background-color: #ffff;
      width: 100%;
      border-bottom: 1px solid #777777;
  }


  h1 {
    font-size: 26px;
  }

  h2 {
    color: #4aaaa5;
    font-size: 20px;
    font: Serif;
  }

.name {
    color: white;
    background-color: #4aaaa5;
    line-height: 30px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font: helvetica;
  
    
}



.main-border {
  width: 960px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 2px solid #777777;
  
}

.wrapper {
  /* width: 2000px; */
  padding-top:50px;
  padding-bottom: 200px;
  
  /* background: url(../images/beige-tiles.png); */
  
  /* background-repeat: repeat-y repeat-x; */
  /* margin: 0 auto; */
  /* border: 1px solid #777777; */
}

#main-bio {
   width: 920px;
   margin: 20px;
   border-color: 1px solid tan;
   background-color: #ffffff;
   
}

.navbar {
  padding-top: 17px;
  line-height: 13px;
  
}

#headerid {
  width:100%; margin: 0px;
}

.container {

  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

#bio-image {
    height: 250px;
    width: 190px;
    margin: 20px;
    float: left;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;
}

li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}


li a:hover {
  background-color: #dddd;
}

.navitem{
  border-right-style: solid;
  border-right-color: #ddd;
}
.footer {
    background-color: grey;
    border-top: 4px solid #4aaaa5;
    Height: 60px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 12px;
    clear: both;
    position: fixed;
    /* left: 0; */
    bottom: 0;
    /* position: fixed; */
    
       
}

#tien, #email {
    border: 1px solid #dddd;
}

#message {
    border: 1px solid #dddd;
    height: 300px;
}


#a, #b, #c, #d, #e, #f, #g {
    width: 200px;
    height: 150px;
    margin: 20px;
}


.clearfix{
  clear: both;
}
  


#submit {
    color: white;
    background-color: #4aaaa5;
    width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.absolute {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2db34a;
  margin-left: 20px;
  margin-top: 110px;
  text-align: center;
  color: black;
  
}

